<a href="https://colab.research.google.com/github/Neel12-coder/Python-Datascience/blob/main/Pandas_Processing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [8]:
listings = pd.read_csv("listings.csv")

In [9]:
listings.head()

      id  ... reviews_per_month
0   2818  ...              2.83
1  20168  ...              3.57
2  27886  ...              2.13
3  28871  ...              4.62
4  29051  ...              5.52

[5 rows x 74 columns]

In [10]:
listings.shape

(5402, 74)

In [13]:
listings[["price","host_response_rate","host_acceptance_rate"]].head()

     price host_response_rate host_acceptance_rate
0   $59.00               100%                 100%
1  $106.00               100%                 100%
2  $135.00               100%                 100%
3   $75.00               100%                  99%
4   $55.00               100%                  99%

In [17]:
listings["price"]=listings["price"].str[1:].str.replace(",","").astype(float)

In [18]:
listings["price"]

0        59.0
1       106.0
2       135.0
3        75.0
4        55.0
        ...
5397    251.0
5398    215.0
5399    140.0
5400    176.0
5401    317.0
Name: price, Length: 5402, dtype: float64

In [19]:
listings.describe

<bound method NDFrame.describe of             id  ... reviews_per_month
0         2818  ...              2.83
1        20168  ...              3.57
2        27886  ...              2.13
3        28871  ...              4.62
4        29051  ...              5.52
...        ...  ...               ...
5397  53121415  ...               NaN
5398  53124758  ...               NaN
5399  53127475  ...               NaN
5400  53131052  ...               NaN
5401  53140075  ...               NaN

[5402 rows x 74 columns]>

In [22]:
listings.dtypes

id                                                int64
listing_url                                      object
scrape_id                                         int64
last_scraped                                     object
name                                             object
                                                 ...
calculated_host_listings_count                    int64
calculated_host_listings_count_entire_homes       int64
calculated_host_listings_count_private_rooms      int64
calculated_host_listings_count_shared_rooms       int64
reviews_per_month                               float64
Length: 74, dtype: object

In [23]:
listings["host_response_rate"]=listings["host_response_rate"].str[:-1].astype(float)/100

In [25]:
listings["host_response_rate"].head(10)

0    1.00
1    1.00
2    1.00
3    1.00
4    1.00
5    1.00
6    1.00
7     NaN
8    0.86
9    0.90
Name: host_response_rate, dtype: float64

In [26]:
listings["host_acceptance_rate"]=listings["host_acceptance_rate"].str[:-1].astype(float)/100

In [27]:
listings["host_acceptance_rate"].head(10)

0    1.00
1    1.00
2    1.00
3    0.99
4    0.99
5    1.00
6    0.65
7     NaN
8    0.50
9    0.90
Name: host_acceptance_rate, dtype: float64

In [33]:
listings[["bathrooms_text"]].head()

     bathrooms_text
0  1.5 shared baths
1    1 private bath
2         1.5 baths
3     1 shared bath
4     1 shared bath

In [36]:
#bathroom_text contains number of bathrooms and bathroom type
listings["bathroom_numbers"] = listings["bathrooms_text"].str.split(" ",expand=True)[0]

In [37]:
listings["bathroom_type"] = listings["bathrooms_text"].str.split(" ",expand=True)[1]

In [39]:
listings[["price","host_acceptance_rate","host_response_rate","bathroom_type","bathroom_numbers"]].tail()

      price  host_acceptance_rate  ...  bathroom_type bathroom_numbers
5397  251.0                  1.00  ...          baths              1.5
5398  215.0                  0.81  ...          baths                0
5399  140.0                   NaN  ...           bath                1
5400  176.0                   NaN  ...           bath                1
5401  317.0                  1.00  ...          baths              1.5

[5 rows x 5 columns]